<!DOCTYPE html>
<html lang="pt">

<!-- Configurações -->     
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/css_cadastrobike.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<header></header>

<body>
<!-- menu da página -->

<nav>
    <div class="menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPcW8--3uMWgTWeBalCzGJuD71rPDBjTZrIg&usqp=CAU" alt="A imagem não pode ser exibida"/>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria">GALERIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eventos">EVENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
        </li>
       </ul>
</nav>

<!-- corpo da página - formulário de cadastro da bicicleta -->

<body>
  <h1>Cadastro de bicicletas</h1>

  <form method="post" action="/cadbike">
    <input type="hidden" name=fullname id="fullname" value="<%= user.fullname %>">
    <label for="photo">Adicione a foto da bicicleta:</label>
    <input type="file" id="photo">

    <label for="title">Título (marca e ano da bicicleta):</label>
    <input type="text" id="title">

    <button type="submit">Cadastrar</button>
  </form>
</br></br></br>
<footer></footer>

</body>