<!DOCTYPE html>
<html lang="pt">

<!-- Configurações -->     
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<header></header>

<body>
<!-- Css da página -->  
<style>
 
    header{
	    width:100%;
	    height:10px;
	    background-color: #f1862e;
	    overflow: hidden;
    }

    body{
	    margin:5px;
    }

    nav{
	    width:100%;
	    height:90px;
	}

    .menu{
	    width:205px;
	    height:90px;
	    float:left;
    }

    .menu img{
	    height:100%;
        padding: 4px 10px 1px 50px;
    }

    ul{
	    list-style: none;
	    padding: 1px;
	    display:block;
	    margin: 10px;
    }
    li a{
	    padding:30px 10px;
	    width: 234px;
	    height: 15px;
	    display: block;
	    text-decoration: none;
	    font-family: 'Inter', Arial, sans-serif;
	    font-weight: 400;
	    font-size: small;
	    color:#f1862e;
	    float:left;
	    text-align: center;
	    margin-left: 1px;
	}

    a{
	    text-decoration: none;
	    color: #000000;
	    padding: 5px 5px;
    }

    a:hover{
		text-decoration: underline;
		color: #f8f5f5;
		background-color:#f1862e;
    }

    form{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    form label{
        margin-top: 10px;
    }

    form input{
        margin-top: 5px;
        padding: 5px;
    }

    form button {
        margin-top: 10px;
        padding: 10px;
        background-color: #f1862e;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    h1{
        text-align: center;
        padding: 40px 5px;
    }

    footer{
	    width:100%;
	    height:10px;
	    background-color: #f1862e;
	    overflow: hidden;
    }

</style>

<!-- menu da página -->

<nav>
    <div class="menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPcW8--3uMWgTWeBalCzGJuD71rPDBjTZrIg&usqp=CAU" alt="A imagem não pode ser exibida"/>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria">GALERIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eventos">EVENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
        </li>
       </ul>
</nav>
<!-- Formulário de login - corpo da página-->

  <h1>Formulário para cadastro</h1>

  <form action="/signup" method="post">
    <label for="fullname">Nome Completo:</label>
    <input type="text" name="fullname" required>

    <label for="phone">Telefone:</label>
    <input type="text" name="phone" required>

    <label for="city">Cnameade:</label>
    <input type="text" name="city" required>

    <label for="state">Estado:</label>
    <input type="text" name="state" required>

    <label for="country">País:</label>
    <input type="text" name="country" required>

    <label for="email">Login (E-mail):</label>
    <input type="email" name="email" required>

    <label for="password">Senha:</label>
    <input type="password" name="password" required>

    <button type="submit">Entrar</button>
 
  </form>
</br>
<footer></footer>

</body>