<!DOCTYPE html>
<html lang="pt">

<!-- Configurações -->     
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/css_galeria.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<header></header>

<body>

<!-- menu da página -->

<nav>
    <div class="menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPcW8--3uMWgTWeBalCzGJuD71rPDBjTZrIg&usqp=CAU" alt="A imagem não pode ser exibida"/>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria">GALERIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eventos">EVENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
        </li>
       </ul>
</nav>

<!-- Galeria de fotos - corpo da página-->

<h1>Galeria de fotos</h1>

<div class="container text-center galeria">
    <div class="row align-items-start">
      <div class="col">
        <img src="https://static.wixstatic.com/media/aeeec0_8f66215e3f9648e9b0fb7489a21fa96a~mv2_d_4032_3024_s_4_2.jpg/v1/fill/w_792,h_594,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/aeeec0_8f66215e3f9648e9b0fb7489a21fa96a~mv2_d_4032_3024_s_4_2.jpg" class="figure-img img-fluid rounded" alt="Foto 1">
    <figcaption class="figure-caption">Francesco Moser, 1980.</figcaption>
      </div>
      <div class="col">
        <img src="https://static.wixstatic.com/media/aeeec0_d9a97401a0224abda7e6f16ac9aeff75~mv2.jpg/v1/fill/w_718,h_539,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/aeeec0_d9a97401a0224abda7e6f16ac9aeff75~mv2.jpg" class="figure-img img-fluid rounded" alt="Foto 2">
    <figcaption class="figure-caption">Bianchi Campione del Mondo CX, 1975.</figcaption>
      </div>
      <div class="col">
        <img src="https://static.wixstatic.com/media/aeeec0_5faf73b1eb67449aaa18766268d91a85~mv2_d_4032_3024_s_4_2.jpg/v1/fill/w_792,h_594,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/aeeec0_5faf73b1eb67449aaa18766268d91a85~mv2_d_4032_3024_s_4_2.jpg" class="figure-img img-fluid rounded" alt="Foto 3">
    <figcaption class="figure-caption">Benotto 800 EX, 1978.</figcaption>
      </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <img src="https://static.wixstatic.com/media/aeeec0_3c34b5380f574340bcc9b0e88f45ef9d~mv2.jpg/v1/fill/w_792,h_594,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/aeeec0_3c34b5380f574340bcc9b0e88f45ef9d~mv2.jpg" class="figure-img img-fluid rounded" alt="Foto 4">
            <figcaption class="figure-caption">Eddy Merckx Strada, 1992.</figcaption>
        </div>
        <div class="col">
            <img src="https://static.wixstatic.com/media/aeeec0_633016843b3b4c08af06853e7c01b6a6~mv2.jpg/v1/fill/w_718,h_539,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/aeeec0_633016843b3b4c08af06853e7c01b6a6~mv2.jpg" class="figure-img img-fluid rounded"  alt="Foto 5">
            <figcaption class="figure-caption">Bianchi Krono, 1989.</figcaption>
        </div>
        <div class="col">
            <img src="https://cdn.shopify.com/s/files/1/0726/1621/4811/files/superpista_text1.jpg?v=1682692040&width=1920" class="figure-img img-fluid rounded" alt="Foto 6">
            <figcaption class="figure-caption">Cinelli Supercorsa, 1950.</figcaption>
        </br></br>
            
        </div>
        
      </div>
      
  </div>
  
    <button type="submit" onclick="window.location.href = '/cadastrobike';">Adicionar</button>
  
</br></br></body>
