<!DOCTYPE html>
<html lang="pt">

<!-- Configurações -->     
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<header></header>

<body>

<!-- Css da página -->   
<style>

    header{
	    width:100%;
	    height:10px;
	    background-color: #f1862e;
	    overflow: hidden;
    }

    body{
	    margin:5px;
    }

    nav{
	    width:100%;
	    height:90px;
	}

    .menu{
	    width:205px;
	    height:90px;
	    float:left;
    }

    .menu img{
	    height:100%;
        padding: 4px 10px 1px 50px;
    }

    ul{
	    list-style: none;
	    padding: 1px;
	    display:block;
	    margin: 10px;
    }
    li a{
	    padding:30px 10px;
	    width: 234px;
	    height: 40px;
	    display: block;
	    text-decoration: none;
	    font-family: 'Inter', Arial, sans-serif;
	    font-weight: 400;
	    font-size: small;
	    color:#f1862e;
	    float:left;
	    text-align: center;
	    margin-left: 1px;
	}

    a{
	    text-decoration: none;
	    color: #000000;
	    padding: 5px 5px;
    }

    a:hover{
		text-decoration: underline;
		color: #f8f5f5;
		background-color:#f1862e;
    }

    h1{
        margin:30px;
    }

    p{
        margin:30px;
    }

    .principal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .principal img {
        max-width: 100%;
        max-height: 100%;
    }
    footer{
	    width:100%;
	    height:10px;
	    background-color: #f1862e;
	    overflow: hidden;
    }
</style>

<!-- menu da página -->
<nav>
    <div class="menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPcW8--3uMWgTWeBalCzGJuD71rPDBjTZrIg&usqp=CAU" alt="A imagem não pode ser exibida"/>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria">GALERIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eventos">EVENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
        </li>
       </ul>
</nav>

</br></br>
<!-- corpo da página (descrição home)-->
    <h1>Bem-vindo ao Retrô Bikes: uma jornada nostálgica ao passado!</h1>
    <p>Neste site você pode mergulhar na fascinante história das bicicletas antigas
     e descobrir a beleza e a elegância dessas preciosidades do passado. Se você é um entusiasta de bicicletas 
     vintage ou simplesmente curioso sobre o desenvolvimento das bicicletas ao longo dos anos, 
     este é o lugar certo para você.</p>
    <p>Explore a coleção de bicicletas antigas meticulosamente selecionadas, apresentando modelos clássicos que 
    remontam ao século XIX até meados do século XX. Cada bicicleta tem sua própria história e estilo único, 
    refletindo o artesanato e a engenhosidade da época.</p>
 
<!-- imagem principal-->
    <div class="principal">
        <img src="
    https://viatrolebus.com.br/wp-content/uploads/2014/02/720x340xDestaque7-720x340.jpg.pagespeed.ic_.uTk6gZg2cc.jpg" alt="A imagem não pode ser exibida"/>
    </div>


    <p>Navegue pelas páginas para descobrir detalhes fascinantes sobre os diferentes estilos de bicicletas antigas, 
como as elegantes "penny farthings" com sua roda dianteira gigante, as bicicletas de estrada clássicas que ecoam 
o glamour do ciclismo do passado ou até mesmo as bicicletas dobráveis compactas que eram populares nas décadas 
passadas.</p>
    <p>Se você é um colecionador ou está pensando em adquirir uma bicicleta antiga, nossos guias e dicas úteis irão ajudá-lo
a preservar e revitalizar essas preciosidades. Descubra os segredos da limpeza adequada, restauração de peças 
vintage e técnicas de manutenção para manter sua bicicleta antiga em perfeitas condições.</p>
    <p>Não deixe de conferir nossa seção de eventos, onde destacamos os principais encontros e feiras 
dedicados às bicicletas antigas. Saiba onde você pode ver de perto e até mesmo pedalar algumas das mais raras e 
belas bicicletas antigas do mundo.</p>
    <p>Queremos compartilhar nossa paixão pelas bicicletas antigas e preservar a herança desses tesouros sobre 
duas rodas. Junte-se a nós nesta jornada nostálgica no passado das bicicletas e desfrute da beleza atemporal 
desses ícones da mobilidade humana.
    </p>

<footer></footer>

</body>
