<!DOCTYPE html>
<html lang="pt">

<!-- Configurações -->     
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/css_login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<header></header>

<body>
    
<!-- menu da página -->

<nav>
    <div class="menu">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPcW8--3uMWgTWeBalCzGJuD71rPDBjTZrIg&usqp=CAU" alt="A imagem não pode ser exibida"/>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/galeria">GALERIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eventos">EVENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
        </li>
       </ul>
</nav>

<!-- Login - corpo da página-->

<h4>Já possui uma conta? Faça o seu login. </h4>
    <form action="/log" method="POST">
        <label for="email">Login(E-mail):</label>
        <input type="email" name="email" required>
        <label for="password">Senha:</label>
        <input type="password" name="password" required>
        </br>
        <h5>Não possui uma conta?<a href="/cadastrogeral">Cadastre-se aqui</a>.</h5>
        <button type="submit">Login</button>
    </form>
</br></br>
<footer></footer>

</body>